$color-border: #eaecef;
$color-base: #24292e;
$color-muted: #6a737d;
$color-hover: #f6f8fa;
$color-link-hover: #0366d6;
$color-striped: #f2f2f2;

body {
  background: #fff;
  color: $color-base;
  line-height: 1.5;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid $color-border;
}

a {
  text-decoration: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

h1 {
  a {
    color: $color-base;

    &:hover {
      text-decoration: underline;
    }
  }
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  border: 1px solid $color-border;
  font-size: 14px;
}

li {
  &:nth-child(odd) {
    background: $color-striped;
  }

  &:hover {
    background: $color-hover;
  }

  & + & {
    border-top: 1px solid $color-border;
  }

  a {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 5px 0;

    &:hover .name {
      text-decoration: underline;
      color: $color-link-hover;
    }
  }
}


.icon .name {
  background-repeat: no-repeat;
  background-position: 5px 3px;
  padding-left: 26px;
}


.name,
.size,
.date {
  display: table-cell;
  padding: 0 5px;
  color: $color-base;
}

.size,
.date {
  text-align: right;
  white-space: nowrap;
  color: $color-muted;
}

.size {
  width: 90px;
}

.date {
  width: 150px;
  text-align: right;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }

  li a {
    display: block;
  }

  .name {
    display: block;
  }

  .size,
  .date {
    display: none;
  }
}

