body {
  background: #fff;
  color: #24292e;
  line-height: 1.5;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid #eaecef;
}

a {
  text-decoration: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  border: 1px solid #eaecef;
  font-size: 14px;
}

li {}

li:nth-child(odd) {
  background: #f2f2f2;
}


li:hover {
  background: #f6f8fa;
}

li + li {
  border-top: 1px solid #eaecef;
}

.icon .name {
  background-repeat: no-repeat;
  background-position: 5px 3px;
}

.icon .name {
  padding-left: 26px;
}

li a {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 5px 0;
}

h1 a {
  color: #24292e;
  padding: 5px;
}

.name,
.size,
.date {
  display: table-cell;
  padding: 0 5px;
  color: #24292e;
}

.size,
.date {
  text-align: right;
  white-space: nowrap;
  color: #6a737d;
}

.size {
  width: 90px;
}

.date {
  width: 150px;
  text-align: right;
}

li a:hover .name {
  text-decoration: underline;
  color: #0366d6;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }

  li a {
    display: block;
  }

  .name {
    display: block;
  }

  .size,
  .date {
    display: none;
  }
}

